vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|diskweb
vti_textextensions:SX|.txt.
vti_defaultlanguage:SR|zh
vti_timecreated:TR|20 Jan 1999 09:21:47 +0800
vti_oldestcompatibleversion:SR|2.0.0.0
vti_longfilenames:IX|1
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.926
vti_navbuttonprevlabel:SR|上一页
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_navbuttonnextlabel:SR|下一页
vti_title:SR|养气功
vti_disableautoimgsizeexts:SX|.asp
vti_ignorekeyboard:IR|1
vti_navbuttonhomelabel:SR|主页
vti_dependenciesood:IR|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_hassearchbot:BR|false
vti_approvallevels:VR|同意 拒绝 挂起检查
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_httpdversion:SX|FrontPage DBW
vti_autorecalc:IX|1
vti_defaultcharset:SR|gb2312
vti_navbuttonuplabel:SR|上一层
vti_approvalapproved:SR|同意
vti_approvaldenied:SR|拒绝
